---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [7]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [102]:
def date_sorter():
    from dateutil.parser import parse
    from datetime import datetime, date, time
    import locale
    
    locale.setlocale(locale.LC_ALL, 'English') #Change locale for month names
    
    #Parse all date formats from file
    regex = '(?:[01]?\d[/\-](?:(?:[012]\d)|(?:3[01])|\d)[/\-]\d{2,4})|(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[ \.\-\,]+(?:\d{1,2}(?:st|nd|rd|th)?[\-, ]+)?\d{2,4})|(?:\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov| Dec)[a-z]*[ \.,]+\d{2,4})|(?:\d{1,2}/\d{4})|(?:(?:(?:19)|(?:20))\d{2})'
    dates = df.str.findall(regex)
    
    #Set default date time for dateutil.parser parse function
    default_date = date(1970, 1, 1)
    default_time = time(0, 0)
    default_dt = datetime.combine(default_date, default_time)

    #Loop though Series and create a new Series with uniform format %Y-%m-%d
    temp = []
    for index_val, series_val in dates.iteritems():
        parse_date = parse(series_val[0], default=default_dt, dayfirst=False, yearfirst=False, fuzzy=True)
        temp.append(parse_date.strftime('%Y-%m-%d'))
    
    return pd.Series(temp).rank(method='dense').sub(1).astype(int)

date_sorter()

0      250
1      155
2        2
3       52
4      286
5       91
6       81
7      208
8      164
9        0
10     153
11      46
12     308
13       7
14     216
15     412
16     118
17      65
18     303
19      71
20     306
21      95
22     214
23      58
24     145
25     119
26     207
27      63
28       4
29     173
30     151
31      12
32     179
33     228
34     422
35     135
36      17
37     190
38     169
39     106
40      48
41     181
42     265
43     345
44     123
45     301
46     231
47     261
48     147
49      44
50      53
51     227
52     238
53       3
54     176
55     184
56     273
57      23
58     409
59     124
60     277
61     139
62     236
63     182
64     264
65      84
66     233
67     230
68     178
69     160
70     122
71     198
72      74
73      32
74     115
75      93
76     187
77     314
78     100
79     309
80     110
81      83
82      37
83     332
84       1
85     112
86     253
87     295
88     129
89     205
90     281
91     226
92     360
93      64
94     222
95      31
96     168
97     225
98       9
99     143
100    241
101    297
102    348
103    125
104     26
105     79
106    376
107    140
108     33
109    416
110    275
111     10
112    126
113    246
114    299
115    197
116    186
117     72
118    377
119    240
120    312
121    289
122    221
123     70
124    287
125    335
126    365
127    120
128    347
129      8
130    185
131    290
132    387
133    262
134    106
135    159
136    150
137    133
138    235
139    425
140    271
141    443
142    285
143    244
144    356
145    322
146    367
147    338
148     78
149    206
150     99
151    217
152    438
153      6
154     29
155     41
156     34
157    212
158    330
159    337
160    385
161    445
162     28
163    258
164     86
165     50
166    291
167     94
168    172
169    282
170    411
171     13
172    254
173    380
174    193
175    142
176    405
177    211
178    154
179    128
180    193
181    278
182     36
183    391
184    350
185    157
186    444
187    390
188    358
189     75
190    329
191     14
192    252
193    269
194    215
195    338
196    260
197    107
198    431
199    162
200     82
201    323
202    200
203    279
204     60
205    131
206    219
207    364
208    424
209    138
210    204
211    237
212    319
213    294
214     40
215    113
216    192
217    415
218    199
219     55
220    423
221    104
222    304
223     42
224    307
225     11
226    224
227    417
228    158
229    414
230    166
231    442
232     73
233    218
234    353
235    439
236    274
237     57
238    268
239     77
240    413
241    361
242    408
243    424
244    428
245    220
246    111
247    137
248    276
249    251
250    371
251    311
252    381
253    441
254     92
255    434
256    191
257    437
258     61
259     96
260    325
261    171
262    346
263    114
264    383
265    196
266    321
267    103
268    400
269    239
270    378
271    392
272    248
273    402
274    152
275    146
276    165
277    382
278     39
279    430
280    156
281    363
282    421
283     67
284    177
285    141
286    428
287    403
288    399
289    384
290    418
291    357
292    283
293    393
294    132
295    134
296     92
297    396
298    247
299     27
300    257
301    245
302    366
303     66
304    343
305    325
306    361
307    379
308    259
309     68
310    243
311    270
312    195
313     76
314    381
315     62
316    413
317     45
318     76
319     47
320    426
321    318
322    232
323     18
324    288
325    383
326    280
327    316
328    336
329    326
330    189
331    256
332     35
333    298
334    167
335     16
336     80
337    388
338    302
339    370
340    101
341    386
342     59
343    305
344    372
345     22
346    373
347     98
348    374
349    180
350    361
351     38
352    163
353    296
354    249
355    108
356    355
357    255
358    130
359    263
360    395
361    103
362    354
363     54
364    408
365    293
366    433
367    340
368    170
369     76
370     51
371    396
372    274
373    203
374    333
375     20
376    315
377    339
378     87
379    399
380     21
381    432
382     51
383    427
384    317
385    202
386    398
387    310
388    272
389    397
390    191
391    382
392    327
393    420
394    341
395     67
396    392
397    132
398     90
399    234
400    394
401    435
402     30
403    116
404    171
405     18
406    267
407    320
408    407
409    266
410    381
411    406
412    213
413    446
414    359
415     16
416    183
417    328
418     49
419     69
420    326
421    146
422     19
423    175
424     89
425    362
426    148
427    442
428    388
429    127
430    109
431    429
432    316
433    378
434     85
435    209
436     25
437    174
438    136
439    434
440    201
441    102
442    242
443    331
444    111
445    389
446    344
447    156
448    404
449    349
450    257
451    368
452    352
453    229
454    121
455    144
456    324
457    334
458    117
459    300
460    419
461    223
462    188
463    432
464    440
465     56
466    105
467    410
468    292
469    351
470    130
471    313
472    401
473     43
474      5
475    436
476    194
477    257
478    247
479    284
480    428
481     24
482    210
483    268
484    357
485    177
486     15
487    234
488     66
489    149
490    381
491    396
492    161
493     76
494    342
495     88
496    375
497    389
498    369
499     97
dtype: int32